<!DOCTYPE html>
<html>
  <head>
    <title>CodeingChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h1>CareerPlug</h1>
      <%= button_to '+ New Post', new_post_path, method: :get %>
    <div>
    <%= yield %>
  </body>
</html>
